<?xml version="1.0"?>
<launch>

    <node pkg="robot_dock_task" name="robot_dock_task" type="robot_dock_task_node" output="screen">

        <!-- this node's task ID -->
        <param name="task_id" value="10006" type="int" />

        <!-- for testing only, when demo timer has finished, publish this value instead
        <param name="demo_task_done_status_value" value="-3" type="int" /> -->

    </node>
 
</launch>
